* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #DDF3F5;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #01A9B4;
}

#titleIcon {
    height: 80px;
    overflow: hidden;
}

#titleInput {
    height: 40px;
    margin-left: 30px;
    font-size: 25px;
    border: none;
    line-height: 40px;
}

.main-top {
    display: flex;
    align-items: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: #01A9B4;
}

#fx img {
    padding-top: 5px;    
}

#fx {
    padding: 0 10px;
} 

#table-input {
    width: 100%;
    padding-left: 10px;
    border-left: 1px solid #01A9B4;
}

#table-input input {
    width: 100%;
    height: 35px;
    border: none;
}

.table {
    display: flex;
    overflow: scroll;
}

.cell {
    border: 1px solid #01A9B4;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.cell.rowHeader, .cell.cornerCell {
    width: 60px;
}

.selectedCell {
    border: 1px solid orange;
    background-color: white;
    font-size: 15px;
    color: black;
    text-align: center;
}

.selectedHeader {
    background-color: #FBFD8A;
}
